body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,purple, red, orange, yellow, green, blue, indigo, purple, red);
    background-size: 800% 800%;
    animation: GradientAnimation 30s linear infinite;
    font-family: Arial, sans-serif;
    color: white;
}

@keyframes GradientAnimation {
    0% {
        background-position: 0% 50%;
        color: red;
    }
    14% {
        background-position: 14% 50%;
        color: purple;
    }
    28% {
        background-position: 28% 50%;
        color: indigo;
    }
    42% {
        background-position: 42% 50%;
        color: blue;
    }
    56% {
        background-position: 56% 50%;
        color: green;
    }
    70% {
        background-position: 70% 50%;
        color: yellow;
    }
    84% {
        background-position: 84% 50%;
        color: orange;
    }
    100% {
        background-position: 100% 50%;
        color: red;
    }
}

h1 {
    font-size: 1rem;
    animation: TextAnimation 30s linear infinite;
}

@keyframes TextAnimaton {
    0% {
        color: red;
    }
    14% {
        color: purple;
    }
    28% {
        color: indigo;
    }
    42% {
        color: blue;
    }
    56% {
        color: green;
    }
    70% {
        color: yellow;
    }
    84% {
        color: orange;
    }
    100% {
        color: red;
    }
}